/* CONFIGURAÇÃO GERAL */
*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #FFF;
    min-width: 500px;
    margin: auto;
}
a {
    text-decoration: none;
}

/* ---------------------------------------------- */

/* DIVISÃO DAS TELAS */
#container {
    padding: 10px;
}
.container-width {
    box-sizing: border-box;
    width: 50%;
    border: 1px solid #585656;
    padding: 10px;
    height: 600px;
}
/* LADO DA IMAGEM */
#container-image {
    background-color: #C077CC;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    float: right;
}
#background-image{
    width:560px;
    transform: translate(65px,5px);
}
/* LADO DO FORMULARIO */
#container-login {
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

/* FINALIZAÇÃO APOS O CADASTRO */
.successful {
    display: none;
    background-color: #0a0a0ab9;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
}
.successful-box {
    background-color: #FFF;
    width: 400px;
    height: 470px;
    transform: translate(0, 50px);
    padding: 10px;
    margin: auto;
    text-align: center;
}
.img-successful {
    width: 200px;
}
.headline-successful {
    color: #C077CC;
    padding: 10px;
    transform: translate(0,30px);
}
.button-successful {
    transform: translate(0, 40px);
    cursor: pointer;
}
.button-successful:hover{
    background-color:#C077CC;
}

/* ---------------------------------------------- */

/* LINKS PARA ENTRAR/CADASTRAR */
.forms-links {
    transform: translate(-16px, 20px);
    position: relative;
    width: 226px;
    height: 30px;
    margin: auto;
    text-align: center;
}
.forms-links a {
    display: inline-block;
    z-index: 1;
    box-sizing: border-box;
    font-weight: bold;
}
.form-headline {
    position: relative;
    color: #C077CC;
}
#link-cadastrar {
    left: 40px;
}

/* EFEITOS DOS LINKS ENTRAR/CADASTRAR */
.link-active {
    color: #e5c1eb;
}

/* BORDARS DOS LINKS ENTRAR/CADASTRAR */
.border-link-effect {
    bottom: 0;
    position: absolute;
    transform: translate(-70px, 0px);
    padding-top: 30px;
    width: 70px;
    border-bottom: 0px solid #C077CC;
    display: inline-block;
    cursor: pointer;
}
#border-effect-cadastrar {
    width: 95px;
    transform: translate(-50px, 0px);
}
.border-effect-active{
    border-bottom: 4px solid #e5c1eb;
}
.border-link-effect:hover{
    border-bottom: 4px solid #C077CC;
}

/* ---------------------------------------------- */

/* FORMULARIO DE CADASTRO */
form {
    border: 1px solid #5856564f;
    height: 400px;
    border-radius: 5px;
    padding: 20px;
    width: 350px;
    margin: auto;
    transform: translate(0, 50px);
}
form input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #585656;
    padding-bottom: 15px;
    margin: 10px 0px 10px 0px;
    transform: translate(0, 15px);
}

/* TODOS OS ITENS DO FORMULARIO */
#form-items {
    margin: auto;
    width: 320px;
    text-align: center;
    transform: translate(0, 49px);
}

/* MENSAGEM DE ERRO/AVISO */
#mensagem {
    float: left;
    font-size: 12px;
    color: #C077CC;
    list-style: none;
}

/* ICONE DE OCULTAR SENHA */
.password-icon {
    position: absolute;
    right: 0;
    transform: translate(-10px,0);
    bottom: 135px;
}
#password-icon-2 {
    bottom: 83px;
}
.password-icon img{
    width: 40px;
}

/* ---------------------------------------------- */

/* BOTÃO CRIAR CONTA */
.btn-on {
    background-color: #FFF;
    color: #C077CC;
    border: 1px solid #C077CC;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    font-weight: bold;
    padding: 0;
}
.btn-off {
    color: #e5c1eb;
    border: 1px solid #e5c1eb;
    background-color: #FFF;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    font-weight: bold;
    padding: 0;
}

/* ---------------------------------------------- */

@media only screen and (max-width: 1100px){
    #background-inicio{
        display: none;
    }
    .container-width {
        width: 0%;
    }
    #container-image {
        display: none;
    }
    #container-login {
        transition: 6s;
        border-radius: 10px;
        border-left: 1px solid black;
        width: 100%;
        background-color: #C077CC;
    }
    form {
        background-color: #FFF;
    }
    
}

@media only screen and (max-width: 850px){
    body {
        background-color: #C077CC;
    }
    #headline {
        display: none;
    }
    .container-width {
        width: 100%;
        border: none;
        padding: 0px;
    }
    #container-login {
        border-left: none;
    }
    

    /* FORMULARIO DE CADASTRO */
    form {
        width: 90%;
        height: 90%;
    }
    form input {
        width: 90%;
        height: 35px;
        margin: 30px 0px 5px 0px;
    }

    /* TODOS OS ITENS DO FORMULARIO */
    #form-objects {
        margin: auto;
        width: 500px;
        text-align: center;
        transform: translate(0, 80px);
    }
    
    /* MENSAGEM DE ERRO/AVISO */
    #mensagem {
        float: left;
        font-size: 12px;
        color: #C077CC;
        list-style: none;
        transform: translate(24px, 20px);
    }
    
    /* ICONE DE OCULTAR SENHA */
    .password-icon {
        transform: translate(-10px,-10px);
    }
    #password-icon-2 {
        bottom: 63px;
    }
    
    /* BOTÃO CRIAR CONTA */
    .btn-on {
        transform: translate(50px, 80px);
    }
    .btn-off {
        transform: translate(50px, 80px);
        height: 50px;
        margin-top: 30px;
        font-weight: bold;
        padding: 0;
    }

   /* ---------------------------------------------- */

}