/* CONFIGURAÇÃO GERAL */
*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #FFF;
    min-width: 500px;
    margin: auto;
}
a {
    text-decoration: none;
}

/* ---------------------------------------------- */

/* DIVISÃO DAS TELAS */
#container {
    padding: 10px;
}
.container-width {
    box-sizing: border-box;
    width: 50%;
    border: 1px solid #585656;
    padding: 10px;
    height: 600px;
}
/* LADO DIREITO */
#container-image {
    background-color: #C077CC;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    float: left;
}
#background-image{
    width:500px;
    transform: translate(70px,40px);
}
/* LADO ESQUERDO */
#container-login {
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    float: right;
    padding: 10px;
    box-sizing: border-box;
}

/* TITULO DO FORMULARIO */
#headline {
    transform: translate(45px, 5px);
    width: 300px;
    color: #C077CC
}
#headline span {
    font-weight: normal;
}

/* ---------------------------------------------- */

/* LINKS PARA ENTRAR/CADASTRAR */
.forms-links {
    transform: translate(-16px, 20px);
    position: relative;
    width: 226px;
    height: 30px;
    margin: auto;
    text-align: center;
}
.forms-links a {
    display: inline-block;
    z-index: 1;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: bold;
}
.form-headline {
    position: relative;
    color: #C077CC;
}
#link-cadastrar {
    left: 40px;
}

/* EFEITOS DOS LINKS ENTRAR/CADASTRAR */
.link-active {
    color: #e5c1eb;
}

/* BORDARS DOS LINKS ENTRAR/CADASTRAR */
.border-link-effect {
    bottom: 0;
    position: absolute;
    transform: translate(-70px, 0px);
    padding-top: 30px;
    width: 70px;
    border-bottom: 0px solid #C077CC;
    display: inline-block;
    cursor: pointer;
}
#border-effect-cadastrar {
    width: 95px;
    transform: translate(-50px, 0px);
}
.border-effect-active{
    border-bottom: 4px solid #e5c1eb;
}
.border-link-effect:hover{
    border-bottom: 4px solid #C077CC;
}
/* BORDARS DOS LINKS ENTRAR/CADASTRAR */
.border-link-effect {
    bottom: 0;
    position: absolute;
    transform: translate(-70px, 0px);
    padding-top: 30px;
    width: 70px;
    border-bottom: 0px solid #C077CC;
    display: inline-block;
    cursor: pointer;
}
#border-effect-cadastrar {
    width: 95px;
    transform: translate(-50px, 0px);
}
.border-effect-active{
    border-bottom: 4px solid #e5c1eb;
}
.border-link-effect:hover{
    border-bottom: 4px solid #C077CC;
}

/* ---------------------------------------------- */

/* FORMULARIO DE CADASTRO */
form {
    border: 1px solid #5856564f;
    height: 350px;
    border-radius: 5px;
    padding: 20px;
    width: 350px;
    margin: auto;
    transform: translate(0, 50px);
}
form input {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #585656;
    padding-bottom: 15px;
    margin: 10px 0px 10px 0px;
    transform: translate(0, 15px);
}

/* TODOS OS ITENS DO FORMULARIO */
#form-items {
    margin: auto;
    width: 320px;
    text-align: center;
    transform: translate(0, 49px);
}

/* MENSAGEM DE ERRO/AVISO */
#mensagem {
    float: left;
    font-size: 12px;
    color: #C077CC;
    list-style: none;
}

/* ICONE DE OCULTAR SENHA */
.password-icon {
    position: absolute;
    right: 0;
    transform: translate(-10px,0);
    bottom: 110px;
}
.password-icon img{
    width: 40px;
}

/* BOTÃO ESQUECER SENHA */
#password-forget {
    float: right;
    color: #C077CC;
    font-size: 12px;
    margin-top: 10px;
}

/* ---------------------------------------------- */

/* BOTÃO CRIAR CONTA */

.btn-on {
    background-color: #FFF;
    color: #C077CC;
    border: 1px solid #C077CC;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    font-weight: bold;
    padding: 0;
    transform: translate(50px, 80px);
}
.btn-off {
    background-color: #FFF;
    color: #e5c1eb;
    border: 1px solid #e5c1eb;
    width: 300px;
    transform: translate(0px, 20px);
    height: 50px;
    margin-top: 30px;
    font-weight: bold;
    padding: 0;
}

/* ---------------------------------------------- */

@media only screen and (max-width: 1185px){
    #background-image{
        display: none;
    }
    .container-width {
        width: 0%;
    }
    #container-image {
        display: none;
    }
    #container-login {
        border-radius: 10px;
        border-left: 1px solid black;
        width: 100%;
        background-color: #C077CC;
    }
    form {
        background-color: #FFF;
    }
    #headline {
        display: none;
    }
}

@media only screen and (max-width: 600px){
    /* CONFIGURAÇÃO GERAL */
    body {
        background-color: #C077CC;
    }
    
    /* ---------------------------------------------- */
    
    .container-width {
        width: 100%;
        border: none;
        padding: 0px;
    }
    #container-login {
        border-left: none;
    }
    #headline {
        display: none;
    }
    
   /* ---------------------------------------------- */

   /* FORMULARIO DE CADASTRO */
    form {
        width: 90%;
        height: 80%;
        padding: 0px;
    }
    form input {
        width: 90%;
        height: 35px;
        margin: 30px 0px 5px 0px;
    }
    #form-items {
    transform: translate(0, 60px);
    }

    /* MENSAGEM DE ERRO/AVISO */
    #mensagem {
        float: left;
        font-size: 12px;
        color: #C077CC;
        list-style: none;
        transform: translate(24px, 20px);
    }
    #password-forget {
        float: right;
        color: #C077CC;
        font-size: 12px;
        transform: translate(-25px, 20px);
    }

    /* BOTÃO CRIAR CONTA */
    .btn-on {
        transform: translate(50px, 80px);
    }
    .btn-off {
        transform: translate(0px, 40px);
        height: 50px;
        margin-top: 30px;
        font-weight: bold;
        padding: 0;
    }
}